body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    margin: 80px auto;
    padding: 20px;
    background-color: rgb(193, 184, 184);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #dbdfe2;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #ebeff2;
    font-size: 14px;
}

.link {
    text-align: center;
    margin-top: 10px;
}